.card {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

.form-group {
    width: 100%;
    margin: 10px;
}

.form-group .form-label {
    margin-right: 10px;
}

.card .clickbtn button {
    margin: 10px;
}